In [1]:
# 타이타닉 생존 분석
import seaborn as sns
titanic = sns.load_dataset('titanic')
print(titanic)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [2]:
import statsmodels.api as sm
import numpy as np
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder( )
encoder.fit(titanic['sex'])
sex = encoder.transform(titanic['sex'])
titanic['sex'] = sex
model = sm.Logit.from_formula('survived ~ pclass + sex + age + fare + parch + sibsp', data=titanic)
logit = model.fit( )
print(logit.summary( ))
print("OR")
print(np.exp(logit.params))

Optimization terminated successfully.
         Current function value: 0.445244
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                  714
Model:                          Logit   Df Residuals:                      707
Method:                           MLE   Df Model:                            6
Date:                Thu, 20 Mar 2025   Pseudo R-squ.:                  0.3408
Time:                        21:50:54   Log-Likelihood:                -317.90
converged:                       True   LL-Null:                       -482.26
Covariance Type:            nonrobust   LLR p-value:                 5.727e-68
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.3890      0.604      8.926      0.000       4.206       6.572
pclass        -1.2422      0.163     -7.612      0.000      -1.562      -0.922
sex           -2.6348      0.220    -11.998      0.000      -3.065      -2.204
age           -0.0440      0.008     -5.374      0.000      -0.060      -0.028
fare           0.0022      0.002      0.866      0.386      -0.003       0.007
parch         -0.0619      0.123     -0.504      0.614      -0.303       0.179
sibsp         -0.3758      0.127     -2.950      0.003      -0.625      -0.126
==============================================================================
OR
Intercept    218.984972
pclass         0.288734
sex            0.071730
age            0.956999
fare           1.002162
parch          0.939942
sibsp          0.686771
dtype: float64